* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100vw;
  height: 100vh;
  background-image: url("../../assets/Body\ BG.png");
  background-size: 400px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.chat-container {
  padding: 0 24px 16px 14px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 600px;
  height: 90%;
  box-shadow: 1px 3px 70px rgba(169, 166, 166, 0.4);
  background-image: url("../../assets/Body\ BG.png");
  margin: 0 auto;
}

/* ////////////////////////// MESSAGE /////////////////////////// */

.chat-log {
  display: flex;
  flex-direction: row-reverse;
}

.chat-message {
  padding: 16px;
  border-radius: 5px;
  border: 1px solid lightgray;
  display: flex;
  align-self: end;
  max-width: 240px;
  background-color: #fff8cd;
}

.text-box {
  display: flex;
  flex-direction: column;
}

.timestamp_div {
  width: 100%;
  text-align: right;
}
.timestamp_p {
  color: lightgray;
  font-weight: bold;
  font-size: 12px;
}

/* ////////////////////////// FORM /////////////////////////// */

.form-container {
  display: flex;
  justify-content: center;
}

form {
  background-color: dodgerblue;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
}
input {
  width: 80%;
  height: 34.5px;
  margin-right: 5px;
  outline: none;
  padding-left: 8.8px;
  border: 1px solid white;
}

button {
  padding: 10px;
  background-color: lightsalmon;
  border: none;
  color: white;
  cursor: pointer;
  outline: none;
}
