* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100vw;
  height: 100vh;
  background-image: url("../../assets/Body\ BG.png");
  background-size: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.chat-outer-container {
  padding: 0 24px 16px 14px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  flex-direction: column-reverse;
  width: 55%;
  height: 90%;
  box-shadow: 1px 3px 70px rgba(169, 166, 166, 0.4);
  background-image: url("../../assets/Body\ BG.png");
  margin: 0 auto;
}

.chat-inner-container {
  flex: 0 0 auto;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55%;
}

@media (max-width: 600px) {
  .chat-outer-container {
    width: 95%;
  }
  .form-container {
    width: 100%;
  }

  .chat-outer-container {
    height: 100%;
  }
}
