form {
  background-color: dodgerblue;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
input {
  width: 80%;
  padding: 8.8px;
  margin-right: 8px;
  outline: none;
  border: 2px solid #0278ae;
  border-radius: 5px;
}

button {
  padding: 10px;
  background-color: lightsalmon;
  border: none;
  color: white;
  cursor: pointer;
  outline: none;
  border-radius: 5px;
}
